<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des adultes</title>
</head>
<body>

    {% include "_header.html.twig" %}

    {% include "_title.html.twig" with {'name' : 'Toto'} %}
    <h2>{{ name }}</h2>

    <pre>
        {{ dump(persons) }}
    </pre>

    <ul>
        {% for person in persons %}

            {% if person.age >= 18 %}     
                <li>{{ person.name }}</li>
            {% endif %}
            
        {% endfor %}
    </ul>
    
</body>
</html>